/*#con{
	width:1000px;
	clear:both;
	float: none;
	text-align: left;
	height: auto;
	padding-top: 15px;
}
#con{
	width:1000px;
	clear:both;
	float: none;
	text-align: left;
	height: auto;
	padding-top: 25px;
}*/
.centerleft {
	width: 710px;
	height: auto;
	clear: none;
	float: left;
}
.centerright{
	width: 234px;
	height: auto;
	clear: none;
	float: left;

}
.centerguanggao{
	width: 710px;
	height: 173px;
	clear: both;
	float: left;
	border: 1px solid #999;
}
.centerbox{
	width: 710px;
	height: auto;
	clear: both;
	float: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFD5DA;
	border-right-color: #CFD5DA;
	border-bottom-color: #CFD5DA;
	border-left-color: #CFD5DA;
	margin-top: 10px;
	background-color: #FFF;
}
.hzsxtitle{
	width: 116px;
	height: 33px;
	clear: none;
	float: left;
	margin-top: 15px;
	background-color: #F9EBD7;
	background-image: url(../image/hzdt_r2_c1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 1px;
	border: 1px solid #F0AD43;
	margin-left: 10px;
}
.hzsxfn{
	width: 670px;
/*	height: 175px;*/
	clear: both;
	float: left;
	background-color: #F8F6ED;
	border: 1px solid #FAD3BD;
	margin-left: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 15px;
	margin-bottom: 5px;
}
#your-choices2 a , .hzsxfn a {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px 5px;
    white-space: nowrap;
}

.hezuo_sx{
	margin:0;
	float: left;
	}
.hezuo_sx li{
/*	height:27px;*/
	width:670px;
	line-height: 27px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #D5D5D5;
	float: left;
	font-weight: bold;
	color: #000;
	clear: both;
	}	

.hezuo_sx_ss{
	width: 680px;
	clear: none;
	float: left;
	height: 30px;
	padding-top: 5px;
	font-weight: bold;
	line-height: 25px;
}

.hezuo_sx_ss2img{
	width: auto;
	clear: none;
	float: left;
	font-weight: bold;
	margin-top: 1px;
}
.ssxllb{
	TEXT-DECORATION: none;
	clear: none;
	float: left;
	line-height: 17px;
	background-color: #f1f1f1;
	border: 1px solid #969696;
	margin-left: 2px;
	margin-top: 1px;
	height: 22px;
	color: #969696;
}
.ssxllb2{
	TEXT-DECORATION: none;
	float: left;
	line-height: 17px;
	background-color: #f1f1f1;
	border: 1px solid #969696;
	margin-left: 2px;
	margin-top: 1px;
	height: 17px;
	color: #5B5B5B;
	padding: 2px;
	font-size: 12px;
}
.inputshuz .ssxllb3{
	TEXT-DECORATION: none;
	float: left;
	line-height: 16px;
	background-color: #f1f1f1;
	border: 1px solid #969696;
	margin-left: 2px;
	margin-top: 1px;
	height: 16px;
	color: #5B5B5B;
	padding: 2px;
	font-size: 12px;
	width: 100px;
}
/*.hese{
	clear: none;
	float: left;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	width: auto;
}*/
.ssxllb4{
	TEXT-DECORATION: none;
	float: left;
	line-height: 16px;
	background-color: #f1f1f1;
	border: 1px solid #C0C0C0;
	height: 22px;
	color: #A8A8A8;
	padding: 2px;
	font-size: 12px;
	width: 110px;
}

.selected-attr2 {
	WIDTH: 680px;
	_overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	height: 35px;
	clear: both;
	float: none;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-top: 5px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #E3E3E3;
	border-bottom-color: #E3E3E3;
	line-height: 35px;
	margin-bottom: 5px;
}
.selected-attr {
	WIDTH: 500px;
	_overflow: hidden;
	margin-left: 60px;
/*	height: 27px;*/
	clear: none;
	float: left;
	line-height: 27px;
	margin-top: 20px;
}
.selected-attr DD A .close-icon {
	BACKGROUND-IMAGE: url(../image/gbann.png);
	BACKGROUND-REPEAT: no-repeat
}


.selected-attr DL {
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 9px;
	PADDING-RIGHT: 9px;
	PADDING-TOP: 2px;
	_overflow: hidden
}
.selected-attr DT {
	LINE-HEIGHT: 21px; DISPLAY: inline; FLOAT: left; HEIGHT: 21px
}
.selected-attr DD {
	LINE-HEIGHT: 21px; DISPLAY: inline; FLOAT: left; HEIGHT: 21px
}


.selected-attr DD A {
	BORDER-BOTTOM: #ff8040 1px solid;
	POSITION: relative;
	BORDER-LEFT: #ff8040 1px solid;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 16px;
	MARGIN: 3px 5px 2px 0px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 15px;
	DISPLAY: inline;
	WHITE-SPACE: nowrap;
	FLOAT: left;
	HEIGHT: 15px;
	COLOR: #999999;
	BORDER-TOP: #ff8040 1px solid;
	BORDER-RIGHT: #ff8040 1px solid;
	PADDING-TOP: 0px;
	_line-height: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px
}

.selected-attr DD A .close-icon {
	POSITION: absolute; WIDTH: 14px; BACKGROUND-POSITION: -6px -20px; HEIGHT: 13px; RIGHT: 0px; TOP: 1px
}
.selected-attr DD A:hover {
	BORDER-BOTTOM: #f50 1px solid; BORDER-LEFT: #f50 1px solid; COLOR: #f50; BORDER-TOP: #f50 1px solid; BORDER-RIGHT: #f50 1px solid; TEXT-DECORATION: none
}
.selected-attr DD A:hover .close-icon {
	BACKGROUND-POSITION: -6px -1px
}
.inputshuz{
	float: left;
	clear: none;
	margin-top: 5px;
	margin-right: 1px;
	margin-left: 1px;
}
.buttomtj {
	width: 65px;
	clear: none;
	float: left;
	background-image: url(../image/buttombg2.jpg);
	background-repeat: no-repeat;
	clear: none;
	height: 25px;
	line-height: 25px;
	margin-top: 5px;
	font-size: 12px;
}

.buttomtj .prev2 {
	TEXT-INDENT: 15px;
	WIDTH: 65px;
	DISPLAY: block;
	FLOAT: left;
	HEIGHT: 25px;
	clear: none;
	background-image: url(../image/buttombg2.jpg);
	background-position: center top;
	line-height: 25px;
	font-weight: bold;
}



.buttomtj .prev2:hover {
	BACKGROUND-POSITION: 0% 100%;
	line-height: 25px;
		font-weight: bold;
}
.hzlinehuibg {
	width: 710px;
	clear: none;
	float: left;
	clear: none;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	background-color: #E4E4E4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c6c6c6;
	text-indent: 15px;
}
.hzlinetable{
	float: left;
	height: auto;
	padding: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c6c6c6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c6c6c6;
	margin-top: 5px;
	margin-bottom: 5px;
        width: 710px;
}

.hzlinetabletd1{
	float: left;
/*	clear: none;*/
	width: 127px;
	text-align: center;
	display: block;
}
.hzlinetabletd1 img{
	float: none;
	clear: both;
	border: 1px solid #CCC;
	padding: 1px;
	margin-top: 10px;
	text-align: center;
}
.heisehz2{
	float: left;
	clear: both;
	width: 125px;
}
.hzlinetabletd2{
	float: left;
	clear: none;
	width: 230px;
	font-size: 12px;
	line-height: 22px;
	height: 123px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E2E2E2;
	border-left-color: #E2E2E2;
	padding-top: 5px;
	padding-left: 5px;
}
.hzlinetabletd3{
	float: left;
	clear: none;
	width: 80px;
	font-size: 12px;
	line-height: 22px;
	height: 123px;
	padding-top: 5px;
	padding-left: 10px;
}
.hzlinetabletd4{
	float: left;
	clear: none;
	width: 157px;
	font-size: 12px;
	line-height: 22px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E2E2E2;
	border-left-color: #E2E2E2;
	padding-top: 5px;
	padding-left: 0;
	height: 123px;
	text-align: center;
}
.hzlinetabletd5{
	float: left;
	clear: none;
	width: 80px;
	font-size: 12px;
	line-height: 22px;
	height: 123px;
	padding-top: 5px;
	padding-left: 5px;
	text-align: center;
}
.fbxq{
	float: left;
	clear: both;
	width: 233px;
	height: 300px;
}
.fbxqtop{
	float: left;
	clear: both;
	width: 233px;
	height: 10px;
}
.fbxqcenter{
	float: left;
	clear: both;
	width: 231px;
	height: 180px;
	background-color: #FFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #C4C4C4;
	border-left-color: #C4C4C4;
	font-size: 12px;
	text-align: center;
}
.fbxqfoot{
	float: left;
	clear: both;
	width: 233px;
	height: 112px;
	background-image: url(../image/hzdt_r1_c3.jpg);
	background-repeat: no-repeat;
}

.titlehong{
	float: none;
	font-family: "å¾®è½¯é›…é»‘";
	font-size: 20px;
	color: #6A0808;
	text-align: center;
	clear: both;
	line-height: 30px;
}
.titlehhui{
	float: none;
	color: #B1B1B1;
	clear: both;
	line-height: 25px;
	text-align: left;
	width: 200px;
	font-size: 12px;
        margin: 0 auto;
}
.lxfstel{
	float: left;
	color: #B1B1B1;
	clear: both;
	line-height: 25px;
	text-align: left;
	width: 135px;
	font-size: 12px;
	margin-left: 90px;
	height: 75px;
	margin-top: 25px;
}
.yxdy{
	float: left;
	clear: both;
	width: 231px;
	height: 95px;
	background-image: url(../image/hzdt_r5_c3.jpg);
	background-repeat: no-repeat;
	margin-bottom: 2px;
	border: 1px solid #DEDEDE;
	background-color: #FAF9F5;
	margin-top: 2px;
}
.mailfs{
	float: left;
	clear: both;
	width: 200px;
	height: 28px;
	margin-bottom: 2px;
	margin-top: 55px;
	margin-left: 15px;
}

.gzwm{
	float: left;
	clear: both;
	width: 231px;
	background-repeat: no-repeat;
	background-color: #FFF;
	margin-bottom: 2px;
	border: 1px solid #DEDEDE;
}
.hzdtcenews{
	clear: none;
	float: left;
	height: auto;
	width: 231px;
	padding: 0px;
	border: 1px solid #DFDFDF;
	background-color: #FFF;
	margin-top: 2px;
	margin-bottom: 2px;
}
.hzdtcenewstitle{
	clear: both;
	float: none;
	height: 31px;
	width: 310px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #C0C0C0;
}
.hzdtcenewseir{
	float: left;
	height: 200px;
	padding: 0px;
	margin-left: 5px;
}

.hzdtcenewseir img{
	float: left;
	clear: none;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.hzdtcehezuo_news3_newstitle{
	clear: both;
	float: left;
	height: 34px;
	width: 228px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	background-image: url(../image/hzdt_r15_c4.jpg);
	background-repeat: no-repeat;
	text-indent: 5px;
}
.hzdtcehezuo_news3{
	margin:0;
	float: left;
	padding-top: 5px;
	height: 204px;
	}
.hzdtcehezuo_news3 li{
	height:25px;
	width:210px;
	padding-top: 3px;
	padding-bottom: 2px;
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #D5D5D5;
	float: left;
	margin-left: 5px;
	right: 10px;
	}	
.hzdtxntj{
	float: left;
	height: 200px;
	padding: 0px;
	margin-left: 5px;
}
.hzdtxntj_news3{
	float: left;
	padding-top: 5px;
	height: 170px;
	width: 740px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 10;
	}
.hzdtxntj_news3 li{
	height:25px;
	width:320px;
	padding-top: 3px;
	padding-bottom: 2px;
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #D5D5D5;
	float: left;
	margin-left: 20px;
	right: 10px;
	clear: none;
	margin-right: 20px;
	}
.hzdtxntj_news3 img{
	float: left;
	clear: none;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
/*·ÖÒ³*/
.Npage{
	clear:both;
	line-height:20px;
/*	width:95%;*/
	padding-top:10px;
	margin-bottom: 10px;
	height: 30px;
	}
.Npage a,.Npage span{
	border:1px solid #B2B2B2;
	padding:0 8px;
	display:block;
	float:left;
	margin-right:6px;
	cursor:pointer;
	text-align:center;
	font-size: 12px;
	}	
.pagelist{margin:0; padding:0;}	
.pagelist li{
	list-style:none;
	display:inline;
	}
        
 .gengduo{
	text-align: right;
	float: right;
	margin-top:0;
	clear: none;
	height: 22px;
	width: 90px;
}
.gengduo_mt{
    margin: 10px 10px 0 0 ;
}
.h2 a {
	COLOR: #FFF;
	TEXT-DECORATION: none;
	font-size: 14px;
	background-position: center;
	clear: none;
	float: left;
	
	font-weight: normal;
}
.h2 a:link {
	COLOR: #000;
	TEXT-DECORATION: none;
	font-size: 14px;
	background-position: center;
	clear: none;
	float: left;
	font-weight: bold;
}
.h2 a:visited {
	COLOR: #000;
	TEXT-DECORATION: none;
	font-size: 14px;
	background-position: center;
	clear: none;
	float: left;
	font-weight: bold;
}
.h2 a:hover {
	COLOR: #5D1414;
	TEXT-DECORATION: none;
	font-size: 14px;
	clear: none;
	float: left;
	font-weight: bold;
}
.h2 a:active {
	COLOR: #5D1414;
	TEXT-DECORATION: none;
	font-size: 14px;
	clear: none;
	float: left;
	font-weight: bold;
}
.hzlinetable h3{
	text-decoration:none;
	font-size:12px;
	color:#2A2A2A;
	font-weight: bold;
	float: left;
}
.hzlinetable h3 a:link{
	text-decoration:none;
	font-size:12px;
	color:#a0a0a0;
	clear: none;
	float: left;
}
.hzlinetable h3 a:visited{ text-decoration:none;
	font-size:12px;
	color:#a0a0a0;
	clear: none;
	float: left;
}
.hezuo_news3_fabu{
	clear: both;
	float: none;
	height: 50px;
	width: 137px;
	padding: 0px;
	background-image: url(../image/index1_r40_c16.jpg);
	background-repeat: no-repeat;
	text-align: center;
        margin: 0 auto;
}
.hezuo_news3_fabu A {
	COLOR: #FFF;
	TEXT-DECORATION: none;
	font-size: 14px;
	clear: none;
	float: left;
	width: 137px;
	font-weight: normal;
}
.hezuo_news3_fabu A:link {
	COLOR: #fff;
	TEXT-DECORATION: none;
	font-size: 14px;
	clear: none;
	float: left;
	line-height:45px;
	width: 137px;
	height: 50px;
	font-weight: normal;
}
.hezuo_news3_fabu A:visited {
	COLOR: #FFF;
	TEXT-DECORATION: none;
	font-size: 14px;
	clear: none;
	float: none;
	width: 137px;
	height: 50px;
	font-weight: bold;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.hezuo_news3_fabu A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-size: 14px;
	clear: none;
	float: left;
	height: 50px;
	width: 137px;
	font-weight: bold;
	background-repeat: no-repeat;
}
.hezuo_news3_fabu A:active {
	COLOR: #fff;
	TEXT-DECORATION: none;
	font-size: 14px;
	clear: none;
	float: left;
	width: 137px;
	font-weight: bold;
	text-align: center;
	height: 50px;
}
.range-num{
     float: left; 
     width: 100%;
}
.range-num li{
     float: left; 
     clear: none;
     width: 86px;

}
.hzsxfn .selected,.selected-attr #your-choices2 .selected{
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
/*  background-color: #ccc;*/
  border: 1px solid #FF8040;
}
.selected-attr2 .sequence ul li{float:left;display:inline}
.selected-attr2 .sequence ul li a{display:inline-block;padding:0 5px;border-left:1px solid #d5d5d5;background:url(../img/style/up.png) no-repeat 5px center;padding-left:20px;color:#666}
.selected-attr2 .sequence ul li a.se_active{background:url(../img/style/desc.png) no-repeat 5px center}
.selected-attr2 .sequence ul li a.selected{background-color:#fff5ff}


/*ºÏ×÷ÏêÇéÒ³*/
.hzdtdetailsleft{
	width:710px;
	clear:none;
	float: left;
	text-align: left;
/*	height: 790px;*/
	background-color: #FFF;
}

.hzdtdetailslefttop{
	width:708px;
	clear:none;
	float: left;
	text-align: left;
	height: 41px;
	background-color: #E8E8E8;
	line-height: 43px;
	font-size: 12px;
	font-weight: bold;
	text-indent: 15px;
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 1px;
	color: #333;
}
.hzdtdetailslefttop2{
	width:708px;
	clear:none;
	float: left;
	text-align: left;
	height: 140px;
	background-color: #F8F6ED;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C8C8C8;
	margin: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C8C8C8;
	line-height: 24px;
	text-indent: 15px;
}
.zqlc{
	font-size: 13px;
	background-image: url(../image/liuc2_4.jpg);
	background-repeat: repeat-x;
	clear: none;
	float: left;
	height: 39px;
	width: 700px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C8C8C8;
/*	margin-left: 25px;*/
	margin-top: 20px;
	text-indent: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C8C8C8;
}
.zqlcredline{
	background-image: url(../image/liuc2_1.jpg);
	background-repeat: repeat-x;
	clear: none;
	float: left;
	height: 39px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C61800;
	line-height: 39px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	width: 123px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
        opacity: 0.9;
        -webkit-box-shadow: rgba(255, 0, 0, 0.8) 0 0 25px, rgba(255, 255, 0, 0.2) 0 0 3px 1px inset;
        -moz-box-shadow: rgba(255, 0, 0, 0.8) 0 0 25px, rgba(255, 255, 0, 0.2) 0 0 3px 1px inset;
        box-shadow: rgba(255, 0, 0, 0.8) 0 0 25px, rgba(255, 255, 0, 0.2) 0 0 3px 1px inset;
}
.zqlcredline2{
	background-repeat: repeat-x;
	clear: none;
	float: left;
	height: 39px;
	line-height: 39px;
	color: #666;
	text-align: center;
	width: 120px;
}
.zqlcredlinejt{
	clear: none;
	float: left;
	padding-top: 10px;
	padding-right: 1%;
	padding-left: 1%;
}
.hzdtdetailslefttop3{
	width:700px;
	clear:none;
	float: left;
	height: auto;
	margin-top: 10px;
	margin-bottom: 0;
}
.hzdtdetailslefttop3 li{
	list-style:none;
	height:auto;
	width:98%;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #D5D5D5;
	line-height: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	clear: both;
	float: left;
	font-size: 12px;
	color: #666;
	padding-left: 15px;
	}
#contjhz {
	WIDTH: 960px;
	height: auto;
	clear: both;
	float: left;
	margin-top: 10px;
}
#tagstjhz {
	WIDTH: 600px;
	HEIGHT: 39px;
	padding: 0px;
	margin: 0px;
}
#tagstjhz LI {
	FLOAT: left;
	MARGIN-RIGHT: 1px;
	LIST-STYLE-TYPE: none;
	HEIGHT: 23px;
	width: 120px;
	clear: none;
}
#tagstjhz LI A {
	FLOAT: left;
	COLOR: #999;
	LINE-HEIGHT: 39px;
	HEIGHT: 39px;
	TEXT-DECORATION: none;
	width: 130px;
	text-align: center;
	font-size: 15px;
	padding-left: 5px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	clear: none;
}
#tagstjhz LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px
}
#tagstjhz LI.selectTag {
	BACKGROUND-POSITION: left top;
	POSITION: relative;
	HEIGHT: 39px;
	background-image: url(../image/nybgtijiao1.jpg);
	background-repeat: repeat-x;
	border: 1px solid #C61800;
	width: 130px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#tagstjhz LI.selectTag a {
	BACKGROUND-POSITION: right top;
	COLOR: #FFF;
	LINE-HEIGHT: 39px;
	HEIGHT: 39px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	width: 120px;
	font-family: "Î¢ÈíÑÅºÚ";
	clear: none;
	float: left;
}
#tagstjhz LI.selectTag a:link {
	BACKGROUND-POSITION: right top;
	COLOR: #FFF;
	LINE-HEIGHT: 39px;
	HEIGHT: 39px;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	width: 120px;
	clear: none;
	float: left;
}
#tagContent {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #D6D6D6;
	width: 960px;
}
.tagContent {
	PADDING-RIGHT: 10px;
	DISPLAY: none;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	WIDTH: 576px;
	COLOR: #474747;
	PADDING-TOP: 10px;
	HEIGHT: 250px
}
#tagContent DIV.selectTag {
	DISPLAY: block;
	clear: both;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: visible;
}
.bmtjbgk{
	POSITION: relative;
	HEIGHT: 39px;
	background-image: url(../image/nybgtijiao1.jpg);
	background-repeat: repeat-x;
	border: 1px solid #C61800;
	width: 160px;
	line-height: 39px;
	color: #FFF;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 18px;
	clear: none;
	float: left;
	text-align: center;
	font-weight: bold;
}
.hezi2{
	color: #000;
	font-weight: bold;
	line-height: 39px;
	padding-left: 10px;
}
.tijiaobaoming{
	color: #000;
	font-weight: bold;
	line-height: 29px;
	padding-left: 10px;
	border: 1px solid #ECB3AB;
	width: 98%;
	height: 130px;
}
.gengduo2{
	text-align: left;
	float: right;
	margin-top:10px;
	clear: none;
	height: 36px;
	width: 270px;
	line-height: 36px;
}
.buttomtjbig {
	width: 102px;
/*	clear: none;*/
	float: right;
	background-image: url(../image/buttombg.jpg);
	background-repeat: no-repeat;
	clear: none;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	margin-left: 10px;
}

.buttomtjbig .prev2 {
	text-align: center;
	WIDTH: 102px;
	DISPLAY: block;
/*	FLOAT: left;*/
	HEIGHT: 32px;
/*	clear: none;*/
	background-image: url(../image/buttombg.jpg);
	background-position: center top;
	line-height: 32px;
	font-weight: bold;
}



.buttomtjbig .prev2:hover {
	BACKGROUND-POSITION: 0% 100%;
	line-height: 32px;
	font-weight: bold;
	font-size: 12px;
}
.centerrightdetails{
	width: 244px;
	height: auto;
	clear: none;
	float: left;

}
.fbxqcenterdetails{
	float: left;
	clear: both;
	width: 230px;
	background-color: #FFF;
	text-align: center;
	margin-left: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C8C8C8;
	margin-top: 5px;
}
.buttomtjbig2 {
	width: 102px;
	float: left;
	background-image: url(../image/buttombg.jpg);
	background-repeat: no-repeat;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	margin-right: 5px;
	text-align: center;
	margin-top: 10px;
}
.buttomtjbig2 .prev2 {
	WIDTH: 102px;
	DISPLAY: block;
	FLOAT: left;
	HEIGHT: 32px;
	clear: none;
	background-image: url(../image/buttombg.jpg);
	background-position: center top;
	line-height: 32px;
	font-weight: bold;
	font-size: 12px;
	color: #666;
}

.buttomtjbig2 .prev2:hover {
	BACKGROUND-POSITION: 0% 100%;
	line-height: 32px;
	font-weight: bold;
	font-size: 12px;
}
.buttomtjbig3 {
	width: 102px;
	clear: none;
	float: left;
	background-image: url(../image/buttombg.jpg);
	background-repeat: no-repeat;
	clear: none;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
	margin-left: 4px;
}
.buttomtjbig3 .prev2 {
	WIDTH: 102px;
	DISPLAY: block;
	FLOAT: left;
	HEIGHT: 32px;
	clear: none;
	background-image: url(../image/buttombg.jpg);
	background-position: center top;
	line-height: 32px;
	font-weight: bold;
	font-size: 12px;
	color: #666;
}

.buttomtjbig3 .prev2:hover {
	BACKGROUND-POSITION: 0% 100%;
	line-height: 32px;
	font-weight: bold;
	font-size: 12px;
}
.hzdtcenewsdetails{
	height: auto;
	width: 230px;
	padding: 0px;
	background-color: #FFF;
	margin-left: 2px;
}
.hzdtcenewstitledetails{
	clear: both;
	float: none;
	height: 31px;
	width: 310px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #C0C0C0;
}
.hzdtcenewseirdetails{
	float: left;
/*	height: 230px;*/
	padding: 0px;
	margin-left: 5px;
}

.hzdtcenewseirdetails img{
	float: left;
	clear: none;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.hzdtcehezuo_news3_newstitledetails{
	float: left;
	height: 34px;
	width: 230px;
	padding-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	background-image: url(../image/hzdt_r15_c4.jpg);
	background-repeat: no-repeat;
	text-indent: 5px;
}
.hzdtcehezuo_news3details{
	margin:0;
	float: left;
	padding-top: 5px;
/*	height: 204px;*/
	}
.hzdtcehezuo_news3details li{
	height:25px;
	width:220px;
	padding-top: 3px;
	padding-bottom: 2px;
	line-height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #D5D5D5;
	float: left;
	margin-left: 5px;
	right: 10px;
	}	
.suoyoucyz{
	min-height:200px;
	width:960px;
	float: left;
	right: 10px;
	margin-bottom: 5px;
	border: 1px solid #DFDFDF;
	margin-top: 2px;
	background-color: #FFF;
	}
.zanyuzxinx{
/*	height:200px;*/
min-height:200px;
	width:215px;
	line-height: 25px;
	float: left;
	right: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DFDFDF;
	text-align: center;
	}
.zanyuzxinxnr{
/*	height:65px;*/
	width:200px;
	line-height: 25px;
	float: left;
	right: 10px;
	margin-top: 10px;
	clear: none;
	margin-left: 10px;
	text-align: left;
	}
.zanyuzxinxnr img{
/*	float: left;*/
/*	right: 10px;
	margin-bottom: 10px;
	clear: none;
	margin-right: 5px;*/
	padding: 3px;
	border: 1px solid #E4E4E4;
	}
.tougaoneir{
	float: left;
	right: 10px;
	clear: none;
	background-color: #F4F4F4;
	height: 42px;
	width: 744px;
	margin-top: 1px;
	line-height: 40px;
	text-indent: 20px;
	margin-bottom: 5px;
	}
.tougaoneir2{
	float: left;
/*	right: 10px;
	clear: none;*/
	height: 150px;
	width: 744px;
	margin-bottom: 2px;
/*	margin-left: 15px;*/
        position: relative;
	}
#apDiv1 {
	position:absolute;
	width:147px;
	height:92px;
	z-index:1;
	right: 0;
	top: 0;
}
.dh1 {
text-decoration: none;
font-size: 16px;
color: #000000;
line-height: 40px;
font-weight: bold;
padding-left: 5px;
clear: none;

width: 90%;
 margin: 0;
}
.juhong{
/*	float: left;*/
	color: #E55F05;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
}
.b1{
   border:1px solid #C8C8C8;
}
.h3{
    text-decoration: none;
    font-size: 12px;
    color: #2A2A2A;
    font-weight: bold;
    float: left;
}
.titljuhong{
	float: none;
	font-size: 14px;
	color: #E55F05;
}
.hese2{
	color: #000;
	font-weight: bold;
}
.bg_y1 {


border: 1px solid #C8C8C8;


}
.grid_bl{
  border-left: 1px solid #C8C8C8;  
}
.m1{
    margin: 1px;
    border-right: 1px solid #C8C8C8; 
}
.tg_content{
    width:500px;
    padding-left: 10px;
     word-break: break-all;
     white-space:  normal;
     line-height: 20px;
}
.work_img{
     width: 110px;
     height: 110px;
     margin: 0 auto;
}
.work_name{
     width: 110px;
     text-align: center;
     margin: 0 auto;
}
.tableojg {
	float: left;
	height: auto;
	padding: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FAD3BD;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FAD3BD;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F8F6ED;
}
.rclinetabletd{
	width: 380px;
	font-size: 12px;
	line-height: 22px;
	height: 140px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #E2E2E2;
	padding-left: 5px;
}
.rclinetabletd3{
	clear: none;
	width: 215px;
	font-size: 12px;
	line-height: 22px;
	height: 130px;
	padding-top: 5px;
	text-align: right;
	padding-right: 10px;
}
.buttomtjbig4 {
	width: 104px;
	clear: none;
	float: left;
	background-image: url(../image/buttombg.jpg);
	background-repeat: no-repeat;
	clear: none;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
	display: block;
	background-position: center 0%;
}
.buttomtjbig4 .prev2 {
	width: 104px;
	clear: none;
	background-image: url(../image/buttombg.jpg);
	background-repeat: no-repeat;
	clear: none;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
	display: block;
	background-position: center 0%;
}

.buttomtjbig4 .prev2:hover {
	BACKGROUND-POSITION: center 100%;
	line-height: 32px;
	font-weight: bold;
	font-size: 12px;
	background-repeat: no-repeat;
}
.lineh123{
     line-height: 123px;
}